*{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

 .btn{
     height: 40px;
    width: 100px; 
    border-radius: 8px;
    background: rgb(74, 94, 102);
    color: white;
    font-weight: 400;
    font-size: 20px;
    border: none;
    padding: 3px;
}

img{
    border-radius: 100%;
}


/* header   and navigation styles   */





.header{
     background: wheat;
    background-image: url(bg2.png );
    margin-top: 0; 
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 60px 200px;
}


 .nav-title{
    font-weight: 800;
    font-size: 55px;
    margin-top: 30px;
}


nav ul{
    display: flex;
    align-items: center;
    

}


nav li{
    list-style: none;
    margin: 40px;
    
}

.text-color{
    color: blue;
}

/* banner styles */
.banner{
    margin: 0px 200px;
    display: flex;
    align-items: center;
}

.banner-title{
    font-weight: 700;
    font-size: 85px;


}

.banner-subtitle{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18px;
    color:blanchedalmond ;

}

.btn2{
    height: 50px;
    width: 150px; 
    border-radius: 8px;
    background: rgb(74, 94, 102);
    color: white;
    font-weight: 400;
    font-size: 20px;
    border: none;
    padding: 3px;
    margin-top: 20px; 
}

/* main section */

main{
    max-width: 1000px ;
    margin: 0 auto;
}

/* about section style */
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title{

    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;

}

.section-description{
    color: rgb(21, 155, 39);
    font-size: 18px;
    margin-bottom: 30px;

}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.info-title{
    font-size: 20px;
    color: #757575;
}

info-description{
    font-weight: 700;
    font-size: 20px;
}


/* what i do style */

.skills-container{
    display: flex;
    gap: 24px;
}

.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description{
    color: #757575;
}

.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    padding: 30px;
    border-radius: 5px;
}

/*  Resume Style */
.resume-content{
    display: flex;
    gap: 24px;
}

.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume .title{
      font-weight: 700;
      font-size: 25px;
      color: #474747;
      margin-bottom: 10px;
    
}
.resume .sub-title{
     color: #757575;
     font-weight: 600;
     font-size: 20px;
     margin-bottom: 10px;
}
.resume .description{
    color: #757575;

}

.resume-button{
    margin-top: 50px;
    text-align: center;
}

/* connact styles */


.connact .section-title{
    text-align: left;

}

.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
    
}

.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding-left: 18px 30px;
}

input{
    height: 64px;
}
